html {
    background-color: #E4002B;
}

body {
    background-color: white;
    width: 80%;
    margin: -16px auto;
    padding: 16px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 -200px;
    padding: 8px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    background-color: #E4002B;
    border: 2px solid white;
    color: white;
    flex: 0 1 25%;
}

nav li a {
    color: white;
}

footer {
    background-color: black;
    color: white;
}

footer a {
    color: white;
}