html {
    background-color: #E4002B;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

body {
    background-color: white;
    width: 80%;
    margin: -16px auto;
    padding: 16px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 -200px;
    padding: 8px;
}

.site-heading {
    text-transform: uppercase;
    font-size: 48px;
}

.page-heading {
    background-color: #9EA2A2;
    margin: -16px -150px;
    padding: 8px;
    letter-spacing: 8px;
    text-align: center;
    border-top: 4px solid black;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    background-color: #E4002B;
    border: 2px solid white;
    color: white;
    flex: 0 1 25%;
}

nav li:hover {
    background-color: #00A3AD;
}

nav li a {
    color: white;
}

#intro {
    display: flex;
    justify-content: space-between;
}

figure {
    padding: 8px;
    flex: 1 1 75%;
}

img {
    max-width: 100%;
    height: auto;
}

figcaption {
    font-weight: 200;
    text-align: right;
}

#intro p {
    flex: 1 1 25%;
    padding: 16px;
}

table {
    border: 2px solid black;
}

td {
    padding: 4px;
}

footer {
    background-color: black;
    color: white;
    margin: 0 -150px -16px -150px;
    padding: 8px 24px;
    border-top: 4px solid #9EA2A2;
    text-align: center;
}

footer a {
    color: white;
}

@media screen and (max-width: 1000px) {
    nav ul {
        display: block;
    }

    #intro {
        display: block;
    }
}