html {
    background-color: red;
}

body {
    background-color: white;
    width: 80%;
    margin: -16px auto;
    padding: 16px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: -8px;
}

nav li {
    background-color: red;
    border: 2px solid white;
    color: white;
    flex: 0 1 25%;
    justify-content: space-between;
}

nav li a {
    color: white;
}

footer {
    background-color: black;
    color: white;
}

footer a {
    color: white;
}